<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>出入库</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <link href="signin.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script>
        var vm;
        window.onload = function(){
            vm = new Vue({
                el:'#churuku',
                data:{
                    inventory:{iid:'',changeNum:''},
                    lists:[{iid:'',mname:'',inum:'',wid:'',sid:'',changeNum:''}]
                },
                methods: {
                    update: function (){
                        this.$http.post('updateInventory',this.inventory,{emulateJSON:true}).then(function(res){
                            if(res.body.stat=='success'){
                            window.history.back(-1);}
                        else
                            alert("修改失败！");
                        },function(){
                            console.log('请求失败');
                        });
                    },
                    getinventorys: function (){
                        this.$http.post('getInventorys',null,{emulateJSON:true}).then(function(res){
                            this.lists=res.body;
                        },function(){
                            console.log('请求失败');
                        });
                    }
                }
            });
            vm.getinventorys();
        }
    </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/用户主界面.html">雪碧进销存系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/修改密码.html">修改密码</a></li>
            <li><a href="/login.html">退出登录</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" id="churuku">

      <form class="form-signin">
        <h2 class="form-signin-heading">物料出入库</h2>
        <div class="select-wuliao" style="margin-bottom: 10px;">
          <h5 style="float: left;">请选择物料：</h5>
          <select v-model="inventory.iid" style="display: block; padding-top: 2px; padding-bottom: 5px; float: left;">
            <option v-for="inv in lists" v-bind:value="inv.iid" >{{inv.mname}}</option>
          </select>
        </div>
        <input type="text" v-model="inventory.changeNum" id="updateNum" class="form-control" placeholder="数量" required autofocus>
        <!--<div class="radio" style="margin-bottom: 10px; margin-top: 5px;">-->
         <!--<label><input type="radio" value="" name="isOut">出库</label>-->
         <!--<label><input type="radio" value="" name="isOut">入库</label>-->
        <!--</div>-->
        <button class="btn btn-lg btn-primary btn-block" type="button" @click="update()">提交</button>
      </form>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
